In [1]:
import tensorflow as tf
import pandas as pd
import keras
import numpy as np

In [2]:
df = pd.read_csv('data/train.csv')
print(df.shape)

(891, 12)

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:

def fix_type(df):
    df[['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']] = df[['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']].astype(str) 
    return df

In [5]:
df = fix_type(pd.read_csv('data/train.csv'))
# val_df = fix_type(pd.read_csv('data/test.csv'))

#if nan, make nan avg in column.
print(df.isnull().sum())

df['Age'].fillna((df['Age'].mean()), inplace=True)

print(df.isnull().sum())

#not sex, sibsp, Pclass
df['SibSp'] = df['SibSp'].astype('float32')
df['Parch'] = df['Parch'].astype('float32')
# df = df.drop(columns=['Parch'])
# df = df.drop(columns=['Age'])
# df = df.drop(columns=['Name'])
df = df.drop(columns=['PassengerId'])
val_dataframe = df.sample(frac=0.2, random_state=1337)
train_dataframe = df.drop(val_dataframe.index)

print(
    "Using %d samples for training and %d for validation"
    % (len(train_dataframe), len(val_dataframe))
)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin            0
Embarked         0
dtype: int64
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64
Using 713 samples for training and 178 for validation

In [6]:
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,nan,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0.0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,nan,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0.0,0.0,373450,8.0500,nan,S

In [7]:
def dataframe_to_dataset(dataframe):
    dataframe = dataframe.copy()
    labels = dataframe.pop("Survived")
    ds = tf.data.Dataset.from_tensor_slices((dict(dataframe), labels))
    ds = ds.shuffle(buffer_size=len(dataframe))
    return ds


train_ds = dataframe_to_dataset(train_dataframe)
val_ds = dataframe_to_dataset(val_dataframe)

In [8]:
for x, y in train_ds.take(1):
    print("Input:", x)
    print("Target:", y)

Input: {'Pclass': <tf.Tensor: shape=(), dtype=int64, numpy=2>, 'Name': <tf.Tensor: shape=(), dtype=string, numpy=b'Collyer, Mrs. Harvey (Charlotte Annie Tate)'>, 'Sex': <tf.Tensor: shape=(), dtype=string, numpy=b'female'>, 'Age': <tf.Tensor: shape=(), dtype=float64, numpy=31.0>, 'SibSp': <tf.Tensor: shape=(), dtype=float32, numpy=1.0>, 'Parch': <tf.Tensor: shape=(), dtype=float32, numpy=1.0>, 'Ticket': <tf.Tensor: shape=(), dtype=string, numpy=b'C.A. 31921'>, 'Fare': <tf.Tensor: shape=(), dtype=float64, numpy=26.25>, 'Cabin': <tf.Tensor: shape=(), dtype=string, numpy=b'nan'>, 'Embarked': <tf.Tensor: shape=(), dtype=string, numpy=b'S'>}
Target: tf.Tensor(1, shape=(), dtype=int64)

In [9]:
train_ds = train_ds.batch(32)
val_ds = val_ds.batch(32)

In [10]:
df.dtypes

Survived      int64
Pclass        int64
Name         object
Sex          object
Age         float64
SibSp       float32
Parch       float32
Ticket       object
Fare        float64
Cabin        object
Embarked     object
dtype: object

In [11]:
from keras.utils import FeatureSpace

feature_space = FeatureSpace(
    features={
        #'PassengerId': 'float',
        'Pclass': 'integer_categorical',
        'Name': 'string_hashed',
        'Sex': 'string_categorical',
        'Age': 'float',
        'SibSp': 'float',
        'Parch': 'float',
        'Ticket': 'string_hashed',
        'Fare': 'float_normalized',
        'Cabin': 'string_hashed',
        'Embarked': 'string_categorical',






        # # Categorical features encoded as integers
        # "Passenger": "integer_categorical",
        # "": "integer_categorical",
        # "fbs": "integer_categorical",
        # "restecg": "integer_categorical",
        # "exang": "integer_categorical",
        # "ca": "integer_categorical",
        # # Categorical feature encoded as string
        # "thal": "string_categorical",
        # # Numerical features to discretize
        # "age": "float_discretized",
        # # Numerical features to normalize
        # "trestbps": "float_normalized",
        # "chol": "float_normalized",
        # "thalach": "float_normalized",
        # "oldpeak": "float_normalized",
        # "slope": "float_normalized",
    },
    # We create additional features by hashing
    # value co-occurrences for the
    # following groups of categorical features.
    # crosses=[("sex", "age"), ("thal", "ca")],
    # # The hashing space for these co-occurrences
    # # wil be 32-dimensional.
    # crossing_dim=32,
    # Our utility will one-hot encode all categorical
    # features and concat all features into a single
    # vector (one vector per sample).
    output_mode="concat",
)

In [12]:
train_ds_with_no_labels = train_ds.map(lambda x, _: x)
feature_space.adapt(train_ds_with_no_labels)

In [13]:
for x, _ in train_ds.take(1):
    print(x)
    
    preprocessed_x = feature_space(x)
    print("preprocessed_x.shape:", preprocessed_x.shape)
    print("preprocessed_x.dtype:", preprocessed_x.dtype)

{'Pclass': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([2, 3, 2, 1, 3, 1, 2, 3, 1, 1, 1, 3, 1, 3, 2, 3, 3, 1, 3, 3, 3, 2,
       3, 1, 3, 3, 3, 2, 3, 2, 2, 3])>, 'Name': <tf.Tensor: shape=(32,), dtype=string, numpy=
array([b'Quick, Mrs. Frederick Charles (Jane Richards)',
       b'Daly, Mr. Eugene Patrick', b'Richard, Mr. Emile',
       b'Graham, Miss. Margaret Edith',
       b'Pickard, Mr. Berk (Berk Trembisky)', b'Perreault, Miss. Anne',
       b'Smith, Miss. Marion Elsie', b'Peters, Miss. Katie',
       b'Hassab, Mr. Hammad', b'Davidson, Mr. Thornton',
       b'Fortune, Mr. Charles Alexander', b'Connolly, Miss. Kate',
       b'Barkworth, Mr. Algernon Henry Wilson', b'Sdycoff, Mr. Todor',
       b'Abelson, Mrs. Samuel (Hannah Wizosky)',
       b'Goodwin, Master. Sidney Leonard', b'Wiklund, Mr. Jakob Alfred',
       b'Blackwell, Mr. Stephen Weart', b'Balkic, Mr. Cerin',
       b'Lester, Mr. James', b'Landergren, Miss. Aurora Adelia',
       b'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)',
       b'Lindblom, Miss. Augusta Charlotta',
       b'Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards)',
       b'Devaney, Miss. Margaret Delia', b'Mineff, Mr. Ivan',
       b'Sutehall, Mr. Henry Jr', b'West, Miss. Constance Mirium',
       b'Hanna, Mr. Mansour', b'Bryhl, Mr. Kurt Arnold Gottfrid',
       b'Cameron, Miss. Clear Annie', b'Berglund, Mr. Karl Ivar Sven'],
      dtype=object)>, 'Sex': <tf.Tensor: shape=(32,), dtype=string, numpy=
array([b'female', b'male', b'male', b'female', b'male', b'female',
       b'female', b'female', b'male', b'male', b'male', b'female',
       b'male', b'male', b'female', b'male', b'male', b'male', b'male',
       b'male', b'female', b'female', b'female', b'female', b'female',
       b'male', b'male', b'female', b'male', b'male', b'female', b'male'],
      dtype=object)>, 'Age': <tf.Tensor: shape=(32,), dtype=float64, numpy=
array([33.        , 29.        , 23.        , 19.        , 32.        ,
       30.        , 40.        , 29.69911765, 27.        , 31.        ,
       19.        , 22.        , 80.        , 29.69911765, 28.        ,
        1.        , 18.        , 45.        , 26.        , 39.        ,
       22.        , 29.        , 45.        , 33.        , 19.        ,
       24.        , 25.        ,  5.        , 23.5       , 25.        ,
       35.        , 22.        ])>, 'SibSp': <tf.Tensor: shape=(32,), dtype=float32, numpy=
array([0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 3., 0., 0., 0., 1., 5., 1.,
       0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0.],
      dtype=float32)>, 'Parch': <tf.Tensor: shape=(32,), dtype=float32, numpy=
array([2., 0., 0., 0., 0., 0., 0., 0., 0., 0., 2., 0., 0., 0., 0., 2., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 2., 0., 0., 0., 0.],
      dtype=float32)>, 'Ticket': <tf.Tensor: shape=(32,), dtype=string, numpy=
array([b'26360', b'382651', b'SC/PARIS 2133', b'112053',
       b'SOTON/O.Q. 392078', b'12749', b'31418', b'330935', b'PC 17572',
       b'F.C. 12750', b'19950', b'370373', b'27042', b'349222',
       b'P/PP 3381', b'CA 2144', b'3101267', b'113784', b'349248',
       b'A/4 48871', b'C 7077', b'2926', b'347073', b'110152', b'330958',
       b'349233', b'SOTON/OQ 392076', b'C.A. 34651', b'2693', b'236853',
       b'F.C.C. 13528', b'PP 4348'], dtype=object)>, 'Fare': <tf.Tensor: shape=(32,), dtype=float64, numpy=
array([ 26.    ,   7.75  ,  15.0458,  30.    ,   8.05  ,  93.5   ,
        13.    ,   8.1375,  76.7292,  52.    , 263.    ,   7.75  ,
        30.    ,   7.8958,  24.    ,  46.9   ,   6.4958,  35.5   ,
         7.8958,  24.15  ,   7.25  ,  26.    ,   7.75  ,  86.5   ,
         7.8792,   7.8958,   7.05  ,  27.75  ,   7.2292,  26.    ,
        21.    ,   9.35  ])>, 'Cabin': <tf.Tensor: shape=(32,), dtype=string, numpy=
array([b'nan', b'nan', b'nan', b'B42', b'E10', b'B73', b'nan', b'nan',
       b'D49', b'B71', b'C23 C25 C27', b'nan', b'A23', b'nan', b'nan',
       b'nan', b'nan', b'T', b'nan', b'nan', b'nan', b'nan', b'nan',
       b'B77', b'nan', b'nan', b'nan', b'nan', b'nan', b'nan', b'nan',
       b'nan'], dtype=object)>, 'Embarked': <tf.Tensor: shape=(32,), dtype=string, numpy=
array([b'S', b'Q', b'C', b'S', b'S', b'S', b'S', b'Q', b'C', b'S', b'S',
       b'Q', b'S', b'S', b'C', b'S', b'S', b'S', b'S', b'S', b'S', b'S',
       b'S', b'S', b'Q', b'S', b'S', b'S', b'C', b'S', b'S', b'S'],
      dtype=object)>}
preprocessed_x.shape: (32, 112)
preprocessed_x.dtype: <dtype: 'float32'>

In [14]:
preprocessed_train_ds = train_ds.map(
    lambda x, y: (feature_space(x), y), num_parallel_calls=tf.data.AUTOTUNE
)
preprocessed_train_ds = preprocessed_train_ds.prefetch(tf.data.AUTOTUNE)

preprocessed_val_ds = val_ds.map(
    lambda x, y: (feature_space(x), y), num_parallel_calls=tf.data.AUTOTUNE
)
preprocessed_val_ds = preprocessed_val_ds.prefetch(tf.data.AUTOTUNE)

In [25]:
dict_inputs = feature_space.get_inputs()
encoded_features = feature_space.get_encoded_features()

x = keras.layers.Dense(64, activation="relu")(encoded_features)
x = keras.layers.Dropout(0.5)(x)
predictions = keras.layers.Dense(1, activation="sigmoid")(x)

training_model = keras.Model(inputs=encoded_features, outputs=predictions)
training_model.compile(
    optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"]
)

inference_model = keras.Model(inputs=dict_inputs, outputs=predictions)

In [26]:
training_model.fit(
    preprocessed_train_ds, epochs=50, validation_data=preprocessed_val_ds, verbose=2
)

Epoch 1/50
23/23 - 0s - loss: 1.5693 - accuracy: 0.4586 - val_loss: 0.7563 - val_accuracy: 0.6236 - 391ms/epoch - 17ms/step
Epoch 2/50
23/23 - 0s - loss: 1.1867 - accuracy: 0.5708 - val_loss: 0.6458 - val_accuracy: 0.6404 - 160ms/epoch - 7ms/step
Epoch 3/50
23/23 - 0s - loss: 1.0372 - accuracy: 0.5680 - val_loss: 0.6056 - val_accuracy: 0.6798 - 108ms/epoch - 5ms/step
Epoch 4/50
23/23 - 0s - loss: 0.9312 - accuracy: 0.5512 - val_loss: 0.6068 - val_accuracy: 0.6742 - 96ms/epoch - 4ms/step
Epoch 5/50
23/23 - 0s - loss: 0.8971 - accuracy: 0.5961 - val_loss: 0.5939 - val_accuracy: 0.6798 - 118ms/epoch - 5ms/step
Epoch 6/50
23/23 - 0s - loss: 0.8138 - accuracy: 0.6185 - val_loss: 0.5695 - val_accuracy: 0.7022 - 105ms/epoch - 5ms/step
Epoch 7/50
23/23 - 0s - loss: 0.7812 - accuracy: 0.6297 - val_loss: 0.5509 - val_accuracy: 0.7303 - 89ms/epoch - 4ms/step
Epoch 8/50
23/23 - 0s - loss: 0.7016 - accuracy: 0.6564 - val_loss: 0.5339 - val_accuracy: 0.7472 - 89ms/epoch - 4ms/step
Epoch 9/50
23/23 - 0s - loss: 0.6279 - accuracy: 0.6844 - val_loss: 0.5224 - val_accuracy: 0.7472 - 91ms/epoch - 4ms/step
Epoch 10/50
23/23 - 0s - loss: 0.6125 - accuracy: 0.6985 - val_loss: 0.5101 - val_accuracy: 0.7472 - 91ms/epoch - 4ms/step
Epoch 11/50
23/23 - 0s - loss: 0.5961 - accuracy: 0.7139 - val_loss: 0.5074 - val_accuracy: 0.7584 - 92ms/epoch - 4ms/step
Epoch 12/50
23/23 - 0s - loss: 0.5697 - accuracy: 0.7419 - val_loss: 0.4949 - val_accuracy: 0.7697 - 89ms/epoch - 4ms/step
Epoch 13/50
23/23 - 0s - loss: 0.5265 - accuracy: 0.7560 - val_loss: 0.4912 - val_accuracy: 0.7697 - 93ms/epoch - 4ms/step
Epoch 14/50
23/23 - 0s - loss: 0.5012 - accuracy: 0.7616 - val_loss: 0.4829 - val_accuracy: 0.7865 - 94ms/epoch - 4ms/step
Epoch 15/50
23/23 - 0s - loss: 0.4958 - accuracy: 0.7728 - val_loss: 0.4777 - val_accuracy: 0.7978 - 94ms/epoch - 4ms/step
Epoch 16/50
23/23 - 0s - loss: 0.4961 - accuracy: 0.7756 - val_loss: 0.4734 - val_accuracy: 0.7865 - 93ms/epoch - 4ms/step
Epoch 17/50
23/23 - 0s - loss: 0.4858 - accuracy: 0.7756 - val_loss: 0.4690 - val_accuracy: 0.8034 - 90ms/epoch - 4ms/step
Epoch 18/50
23/23 - 0s - loss: 0.4456 - accuracy: 0.8149 - val_loss: 0.4658 - val_accuracy: 0.8090 - 87ms/epoch - 4ms/step
Epoch 19/50
23/23 - 0s - loss: 0.4607 - accuracy: 0.8079 - val_loss: 0.4589 - val_accuracy: 0.8034 - 90ms/epoch - 4ms/step
Epoch 20/50
23/23 - 0s - loss: 0.4487 - accuracy: 0.8149 - val_loss: 0.4560 - val_accuracy: 0.8146 - 91ms/epoch - 4ms/step
Epoch 21/50
23/23 - 0s - loss: 0.4339 - accuracy: 0.8135 - val_loss: 0.4512 - val_accuracy: 0.8090 - 87ms/epoch - 4ms/step
Epoch 22/50
23/23 - 0s - loss: 0.4364 - accuracy: 0.8065 - val_loss: 0.4484 - val_accuracy: 0.8090 - 88ms/epoch - 4ms/step
Epoch 23/50
23/23 - 0s - loss: 0.4476 - accuracy: 0.8036 - val_loss: 0.4487 - val_accuracy: 0.8034 - 100ms/epoch - 4ms/step
Epoch 24/50
23/23 - 0s - loss: 0.4402 - accuracy: 0.8135 - val_loss: 0.4478 - val_accuracy: 0.8034 - 90ms/epoch - 4ms/step
Epoch 25/50
23/23 - 0s - loss: 0.4214 - accuracy: 0.8401 - val_loss: 0.4462 - val_accuracy: 0.8202 - 92ms/epoch - 4ms/step
Epoch 26/50
23/23 - 0s - loss: 0.4159 - accuracy: 0.8345 - val_loss: 0.4415 - val_accuracy: 0.8202 - 90ms/epoch - 4ms/step
Epoch 27/50
23/23 - 0s - loss: 0.4168 - accuracy: 0.8247 - val_loss: 0.4389 - val_accuracy: 0.8146 - 90ms/epoch - 4ms/step
Epoch 28/50
23/23 - 0s - loss: 0.4073 - accuracy: 0.8415 - val_loss: 0.4381 - val_accuracy: 0.8146 - 91ms/epoch - 4ms/step
Epoch 29/50
23/23 - 0s - loss: 0.4029 - accuracy: 0.8275 - val_loss: 0.4362 - val_accuracy: 0.8146 - 91ms/epoch - 4ms/step
Epoch 30/50
23/23 - 0s - loss: 0.4007 - accuracy: 0.8247 - val_loss: 0.4350 - val_accuracy: 0.8090 - 91ms/epoch - 4ms/step
Epoch 31/50
23/23 - 0s - loss: 0.3991 - accuracy: 0.8317 - val_loss: 0.4325 - val_accuracy: 0.8146 - 87ms/epoch - 4ms/step
Epoch 32/50
23/23 - 0s - loss: 0.3829 - accuracy: 0.8471 - val_loss: 0.4329 - val_accuracy: 0.8090 - 90ms/epoch - 4ms/step
Epoch 33/50
23/23 - 0s - loss: 0.3816 - accuracy: 0.8513 - val_loss: 0.4306 - val_accuracy: 0.8146 - 86ms/epoch - 4ms/step
Epoch 34/50
23/23 - 0s - loss: 0.3978 - accuracy: 0.8429 - val_loss: 0.4293 - val_accuracy: 0.8202 - 85ms/epoch - 4ms/step
Epoch 35/50
23/23 - 0s - loss: 0.3850 - accuracy: 0.8415 - val_loss: 0.4273 - val_accuracy: 0.8258 - 91ms/epoch - 4ms/step
Epoch 36/50
23/23 - 0s - loss: 0.3822 - accuracy: 0.8499 - val_loss: 0.4281 - val_accuracy: 0.8202 - 85ms/epoch - 4ms/step
Epoch 37/50
23/23 - 0s - loss: 0.3793 - accuracy: 0.8443 - val_loss: 0.4297 - val_accuracy: 0.8146 - 89ms/epoch - 4ms/step
Epoch 38/50
23/23 - 0s - loss: 0.3767 - accuracy: 0.8527 - val_loss: 0.4286 - val_accuracy: 0.8034 - 90ms/epoch - 4ms/step
Epoch 39/50
23/23 - 0s - loss: 0.3565 - accuracy: 0.8682 - val_loss: 0.4322 - val_accuracy: 0.8034 - 84ms/epoch - 4ms/step
Epoch 40/50
23/23 - 0s - loss: 0.3678 - accuracy: 0.8513 - val_loss: 0.4252 - val_accuracy: 0.8202 - 86ms/epoch - 4ms/step
Epoch 41/50
23/23 - 0s - loss: 0.3730 - accuracy: 0.8583 - val_loss: 0.4266 - val_accuracy: 0.8090 - 90ms/epoch - 4ms/step
Epoch 42/50
23/23 - 0s - loss: 0.3580 - accuracy: 0.8541 - val_loss: 0.4260 - val_accuracy: 0.8034 - 86ms/epoch - 4ms/step
Epoch 43/50
23/23 - 0s - loss: 0.3555 - accuracy: 0.8569 - val_loss: 0.4310 - val_accuracy: 0.7921 - 85ms/epoch - 4ms/step
Epoch 44/50
23/23 - 0s - loss: 0.3593 - accuracy: 0.8541 - val_loss: 0.4242 - val_accuracy: 0.8202 - 87ms/epoch - 4ms/step
Epoch 45/50
23/23 - 0s - loss: 0.3460 - accuracy: 0.8583 - val_loss: 0.4242 - val_accuracy: 0.8090 - 89ms/epoch - 4ms/step
Epoch 46/50
23/23 - 0s - loss: 0.3593 - accuracy: 0.8541 - val_loss: 0.4255 - val_accuracy: 0.8034 - 88ms/epoch - 4ms/step
Epoch 47/50
23/23 - 0s - loss: 0.3443 - accuracy: 0.8583 - val_loss: 0.4258 - val_accuracy: 0.8090 - 87ms/epoch - 4ms/step
Epoch 48/50
23/23 - 0s - loss: 0.3459 - accuracy: 0.8668 - val_loss: 0.4229 - val_accuracy: 0.7978 - 89ms/epoch - 4ms/step
Epoch 49/50
23/23 - 0s - loss: 0.3398 - accuracy: 0.8569 - val_loss: 0.4211 - val_accuracy: 0.8146 - 89ms/epoch - 4ms/step
Epoch 50/50
23/23 - 0s - loss: 0.3507 - accuracy: 0.8597 - val_loss: 0.4220 - val_accuracy: 0.8090 - 98ms/epoch - 4ms/step